
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.hero{
    background-image: url(images/maithilee-asseets/banner.png);
}
/* nav.logo{
    font-size: 30px;
    font-weight: bold;
} */

nav h4{
    font-size: 12px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 8%;
    padding-right: 8%;
    position: fixed;
    background: url(images/maithilee-asseets/banner.png);
    background-attachment: fixed;
    width: 100%;
    top: 0;
    padding-bottom: 20px;
}
 
.topnav i{
    display: none;
    color: #FFFFFF;
}

.topnav{
    overflow: hidden;
}

.topnav  li{
    display: inline-block;
    list-style-type: none;
  
}

.topnav ul li a{
    list-style: none !important;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}
.topnav ul li a:hover{
    color:black;
    text-decoration: underline;
    font-weight:600px;
    background-color: #FFFFFF;
}

/* .topnav li i{
    display: none;
} */


.slogen{
    padding-left:12px;
    /* margin-left: 5%; */
    padding-top:10%;

}

.slogen h3{
    font-size: 38px;
    color: #FFFFFF;
    /* font-weight: 200; */
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 10px;
}

.slogen img{
    min-width:100%;
}

.slogen h5{
    padding-top: 12px;
    padding-bottom: 45px;
    color:#FFFFFF;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-break:anywhere;
    padding-right; */
    animation-duration: 20s;
    animation-delay:2s;
    animation-name:abc;
}

@keyframes abc{
        left:200px; top:0px;
}
/* navbar ends */

/* about :start */

.about{
    padding-top: 30px;
   
}

.about h3{
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #093870;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about .abt{
    width: 451px;
    height: 458px;
}

.about p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 185%;

}

.about h5{
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000000;
    padding-top: 20px;
}

.batch{
    padding-left: 80% !important;
    margin-top: -3%;
    
}

.abt{
    min-width:100%;
}
/* about ends */

/* product starts */

.product{
    background-image: url(images/maithilee-asseets/product_bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:1px;
    /* height: 60vh; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10%;
    padding-top: 20px; */
    /* height: 80vh; */
    /* width: 100%; */
    /* min-width:100%; */
}

.product h3{
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #093870;
    padding-top: 10px;
}

.product img{
  /* position: relative; */
  padding: 20px 20px;
  min-width:100%;
}


/* product ends */


/* med starts */

.med{
    padding-top: 30px;
    background-image: url(images/maithilee-asseets/med-bg.png);
    background-size: cover;
    text-align: center;
}

.med h3{
    font-size: 38px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #093870;
    text-transform: uppercase;
}

.figure{
        padding: 40px 60px;
    }

    .figure-2{
       padding-left: 50px%;
       text-align: center;
    }

    .figure-caption{
        font-size: 24px !important;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color:#000000;
        text-transform: capitalize;
    }
/* med ends */


/* footer starts */

.footer{
    padding-top: 10px;
    background-color: #2E52BB;
    text-align: center;
}

.footer h4{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 20px;
    text-transform: capitalize;
}

.footer h4 a{
    color:#FFFFFF;
    text-decoration: none;
}

/* footer ends */

@media screen and (min-width:300px) and (max-width:576px){

    .hero{
        width: 100%;
    }
   .logo-section {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     position:relative;
     padding-left: 15px;
     }
    
    nav ul li a{
        font-size: 12px;
        text-align:center;
        display: none;
    }
    .slogen img{
       display: none;
    }

    .slogen h3{
        text-align:center;
        font-size:17px;
        width:100%;
        margin: auto;
        display: block;
    }

    .slogen h5{
        font-size: 12px;
        text-align: center;
        margin: auto;
        min-width: 100%;
        animation-delay:3s;
    }

    .batch{
        display: none;
    }

    .product{
        /* height: 80vh; */
    }

    .product img{
        align-items: center;
        /* margin-left: 50px; */
        width:200px;
        height:100%;
    }

    .about h3{
        text-align: center;
        font-size: 25px;
    }
    .about p{
        text-align:justify;
        width: 100%;
    }
   .abt{
         justify-content: center;
   }

   .about a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
   }

   .footer h4{
    padding: 20px 0px;
    /* position:relative; */
   }


   .topnav a:not(:first-child){
    display: none;}
   .topnav li a.icon {
     float:right;
     display: block;
   }


   .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:center;
  }


 .topnav ul a i{
    color: #FFFFFF;
    display: block;
    margin-right: 0;
 }
}



